{% extends "furnitures/base.html" %}
{% load static %}




{% block content %}
<div class="col-xs-12 col-md-12 col-lg-12">
    <div class="row">
        <div class="container-fluid" style="position: relative;">
            <div class="row">
                <div class="ph">
                    <img class="displayflex" src="{%static 'furnitures/img/backphoto.png'  %}" alt="backphoto">
                    <div class="col-xs-1 col-md-4 col-lg-6">
                        <div class="hhhhh"></div>
                    </div>
                    <div class="col-xs-11 col-md-8 col-lg-6">
                        <div class="row">
                            <div class="disc">
                                <div class="newarrival">
                                    <p>New Arrival</p>
                                </div>
                                <div class="collect">
                                    <p>Discover Our New Collection</p>
                                </div>
                                <div class="lorem">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus,
                                        luctus nec ullamcorper mattis.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid" style="background: #F2F5FF;">
    <div class="row">
        <div class="container">
            <div class="row">
                <div class="foot">
                    <div class="col-xs-12 col-sm-4">
                        <div class="row">
                            <div class="information wow animate__animated animate__lightSpeedInLeft animate__slower">
                                <div class="iconn v">
                                    <div class="fa-icons disFlex">
                                        <img src="{%static 'furnitures/img/Group.png'  %}" alt="">
                                    </div>
                                </div>
                                <p>Free Delivery</p>
                                <span>Lorem ipsum dolor sit amet.</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-2"></div>
                    <div class="col-xs-10 col-sm-4">
                        <div class="row">
                            <div class="information wow animate__animated animate__lightSpeedInLeft animate__slow">
                                <div class="iconn">
                                    <div class="fa-icons disFlex">
                                        <img src="{%static 'furnitures/img/Group-2.png'  %}" alt="">
                                    </div>
                                </div>
                                <p>Support 24/7</p>
                                <span>Lorem ipsum dolor sit amet.</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-4"></div>
                    <div class="col-xs-8 col-sm-4">
                        <div class="row">
                            <div class="information wow animate__animated animate__lightSpeedInLeft">
                                <div class="iconn">
                                    <div class="fa-icons disFlex">
                                        <img src="{%static 'furnitures/img/sit.png'  %}" alt="">
                                    </div>
                                </div>
                                <div class="div">
                                    <p>100% Authentic</p>
                                    <span class="ds">Lorem ipsum dolor sit amet.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="inscollect">
            <div class="words disflex">
                <div class="word">
                    <p>Inspiration Collection</p>
                </div>
                <div class="loremips">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="row">
                    <div class="photo_3">
                        <div class="col-xs-6">
                            <div class="row">
                                <div class="idk wow animate__animated animate__backInLeft" data-wow-offset="100">
                                    <img class="images" src="{%static 'furnitures/img/Mask Group.png'  %}" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="row">
                                <div class="idk pad mrt wow animate__animated animate__fadeIn animate__slower" data-wow-duration="2s" data-wow-offset="100">
                                    <img class="images" src="{%static 'furnitures/img/Mask Group-2.png'  %}" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="idk wow animate__animated animate__backInRight" data-wow-offset="100">
                            <img class="images mrtt" src="{%static 'furnitures/img/Mask Group-3.png'  %}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid center1">
    <div class="row">
        <div class="container d">
            <div class="row">
                <div class="">
                    <div class="col-xs-12 col-sm-6 col-lg-6">
                        <div class="row">
                            <div class="inside displayflex">
                                <div class="beauty">
                                    <div class="word x">
                                        <p style="text-align: left;">Beautify Your Space</p>
                                    </div>
                                    <div class="loremipsum">
                                        <p>Do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                                            minim
                                            veniam, quis nostrud exercitation ullamco laboris.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6  col-lg-6">
                        <div class="row">
                            <div class="ins">
                                <div class="circle"></div>
                                <img class="women" src="{%static 'furnitures/img/wmn.png'  %}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid" style="border-bottom: solid 1px #D7D6D6;">
    <div class="row">
        <div class="container">
            <div class="row">
                <div class="center2">
                    <div class="words disflex">
                        <div class="word">
                            <p>Browse The Range</p>
                        </div>
                        <div class="loremips">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        </div>
                    </div>
                    <div class="row">
                            <div class="ph0t0 displayflex">
                                {% for post in posts %}
                                    <a class="a" href="{{ post.get_absolute_url }}">
                                        <div class="wrdandpht wow animate__animated animate__slideInLeft">
                                            <img class="image" src="{{post.photo.url}}" alt="">
                                            <div class="w381 displayflex">
                                                <p class="fon">{{post.title}}</p>
                                            </div>
                                        </div>
                                    </a>
                                {% endfor %}
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="howitworks">
            <div class="words disflex">
                <div class="word">
                    <p>How It Works</p>
                </div>
                <div class="loremips">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </div>
            <div class="allin" style="overflow: scroll;">
                <div class="col-xs-12">
                    <div class="row">
                        <div class="show">
                            <img class="ser" src="{%static 'furnitures/img/man.png'  %}" alt=""  data-tilt data-tilt-glare data-tilt-max-glare="0.7" data-tilt-reverse="false" data-tilt-max="12" data-tilt-scale="1.015">
                            <div class="circle1 displayflex">
                                <div class="circle2 displayflex">
                                    <span>1.</span>
                                </div>
                            </div>
                            <div class="idiom displayflex">
                                <span>Purchase Securely</span>
                            </div>
                            <div class="lorm">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="row">
                        <div class="show">
                            <img class="ser" src="{%static 'furnitures/img/building.png'  %}" alt=""  data-tilt data-tilt-glare data-tilt-max-glare="0.7" data-tilt-reverse="false" data-tilt-max="12" data-tilt-scale="1.015">
                            <div class="circle1 displayflex">
                                <div class="circle2 displayflex">
                                    <span>2.</span>
                                </div>
                            </div>
                            <div class="idiom displayflex">
                                <span>Ships From Warehouse</span>
                            </div>
                            <div class="lorm">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="row">
                        <div class="show">
                            <img class="ser" src="{%static 'furnitures/img/lamp.png'  %}" alt=""  data-tilt data-tilt-glare data-tilt-max-glare="0.7" data-tilt-reverse="false" data-tilt-max="12" data-tilt-scale="1.015">
                            <div class="circle1 displayflex">
                                <div class="circle2 displayflex">
                                    <span>3.</span>
                                </div>
                            </div>
                            <div class="idiom displayflex">
                                <span>Style Your Room</span>
                            </div>
                            <div class="lorm">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock%}

