{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{%static 'furnitures/img/favicon.ico'%}" type="image/x-icon">
    <title>Furniture Shop</title>
    <link rel="stylesheet" href='{% static "furnitures/css/style.css" %}'>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
        <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
      />
    <script src="js/wow.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
    <script>
        new WOW().init();
    </script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
</head>

<body>
    
    <div class="container">
        <div class="row">
            <div class="head">
                <div class="furniture">
                    <p class="displayflex">Furniture</p>
                </div>
                <header>
                    <div class="menu-btn">
                        <span class="bar"></span>
                        <span class="bar"></span>
                        <span class="bar"></span>
                    </div>
                </header>
                    {% block mainmenu %}
                    <div class="header__nav">
                        <nav class="nav panell displayflex">
                            <ul class="nav__list">
                                {% if menu %}
                                    {% for m in menu %}
                                    {% if not forloop.last %}
                                        <li class="nav__list_item">
                                            <a class="nav__link" href="{% url m.url_name %}">{{ m.title }}</a>
                                        </li>
                                    {% else %}
                                         <li class="nav__list_item last"><a class="nav__link" href="{% url m.url_name %}">{{m.title}}</a></li>
	                                {% endif %}
                                    {% endfor %}
                                {% endif %}
                            </ul>
                        </nav>
                    </div>
                    {% endblock mainmenu %}
            </div>
        </div>
    </div>
   

    {% block content %}
                
    {% endblock %}

    
    <div class="container-fluid footer">
        <div class="row">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-4 col-lg-4">
                        <div class="one">
                            <div class="beauty1">
                                <span>Beauty Care</span>
                            </div>
                            <div class="col-xs-11">
                                <div class="row">
                                    <div class="random">
                                        <span>Do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                                            minim
                                            veniam, quis nostrud exercitation ullamco laboris.</span>
                                    </div>
                                </div>
                            </div>
                            <div class="beauty1">
                                <span>Follow Us</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-8 col-lg-8">
                        <div class="hmm">
                            <div class="inst">
                                <span><a href="#">Instagram Shop</a></span>
                            </div>
                            <div class="col-xs-12 col-sm-12">
                                <div class="hrhr">
                                    <img class="photography wow animate__animated animate__zoomIn" src="{%static 'furnitures/img/IG-1.jpg'%}" alt="">
                                    <img class="photography btm wow animate__animated animate__zoomIn"  style="animation-delay: 0.17s;" src='{%static "furnitures/img/IG-2.jpg"%}'alt="">
                                    <img class="photography m bv wow animate__animated animate__zoomIn"  style="animation-delay: 0.3s;" src="{%static 'furnitures/img/IG-3.jpg'%}" alt="">
                                    <img class="photography mr top wow animate__animated animate__zoomIn" src="{%static 'furnitures/img/IG-4.jpg'%}"  style="animation-delay: 0.37s;" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>

<script src="https://cdnjs.cloudflare.com/ajax/libs/vanilla-tilt/1.7.0/vanilla-tilt.min.js"></script>
<!-- <script src="/gsap-public/minified/gsap.min.js"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/gsap.min.js"></script>
<link rel="stylesheet" href="js/main.js">