{% extends "furnitures/base.html" %}
{%load static%}




{% block content %}




<div class="container-fluid" style="">
    <div class="row">

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="hh-page-heading">About House & Home</h1>
        </div>
    </div>
</div>
<div class="container"  style="margin-bottom: 50px;">
    <div class="row">
        <div class="col-md-12">
            <p class="top-paragraph">
                Watch our latest <a href="https://youtu.be/AAFj9kztPJw" target="_blank">TV ad</a> 
                and get a little lost in our world of the latest trends, smart technology and 
                style. There really is no place like House & Home for everything you need for 
                your home at the lowest prices guaranteed. The 
                <a href="https://youtu.be/AAFj9kztPJw" target="_blank">TV ad</a> features all 
                our latest homeware looks and innovations and an original, brand-new toe-tapping tune! 
            </p>
            <br>
            <p class="top-paragraph">
                House & Home is a Trading Division of Shoprite Checkers (Pty) Ltd, 
                operating throughout Africa. We are conveniently located across 
                South Africa, in the Free State, North West, Northern, Western and 
                Eastern Cape, Gauteng, Limpopo, Mpumalanga, and KwaZulu-Natal as 
                well as Botswana and Namibia.
            </p>
            <p class="top-paragraph">
                Each House & Home store presents its customers with an exciting, 
                top-notch shopping experience. Customers are spoiled for choice with 
                affordable, exclusive and well-known furniture, appliance and home 
                entertainment brands – the best local and imported ranges at the very 
                best prices. Deals can be tailored to support individual payment 
                requirements, including cash, lay-by or credit terms.
            </p>
            <p class="top-paragraph">
                When it comes to service, we are unbeatable, because we pride ourselves 
                on giving our customers exactly what they want, when they want it, and 
                at the price they deserve.
            </p>
            <br>
            <span style="color: #004395; font-size: 16px; font-weight: bold;">The History of House & Home</span><br>
            <span class="top-paragraph">We weren’t always the industry leaders we are today…</span><br><br>
            <p class="top-paragraph">
                <span style="font-weight: bold;">1977</span><br>
                OK Hyperama opened its first branch in Edenvale, Johannesburg, with 
                House & Home as the furniture division in the main store.
            </p>
            <p class="top-paragraph">
                <span style="font-weight: bold;">1979</span><br>
                After a fairly slow start, the chain grew, adding another three branches 
                to the fold, in Roodepoort, Menlyn and Prospecton.
            </p>
            <p class="top-paragraph">
                It was around this time that the name was also changed to The Hyperama, 
                and the famous green-coloured logo was firmly entrenched.
            </p>
            <p class="top-paragraph">
                <span style="font-weight: bold;">Now</span><br>
                The Group continues to embrace the very best in technology. With an 
                ultra-modern e-commerce website, we provide customers with a far wider 
                choice and greater convenience.
            </p>
            <br>
            <span style="color: #004395; font-size: 16px; font-weight: bold;">Our Vision</span><br>
            <span class="top-paragraph">
                The goal and vision of House & Home remain steadfast. 
                We consistently strive to be the leading competitively priced furniture, appliance, 
                and home entertainment retailer in South Africa.
            </span><br><br>
            <p class="top-paragraph">
                To meet this goal, we:
                <ul>
                    <li>regularly improve our product ranges and offerings;</li>
                    <li>have the best-looking stores;</li>
                    <li>deliver high levels of customer service;</li>
                    <li>provide ongoing staff training and development;</li>
                    <li>cultivate excellent supplier relationships;</li>
                    <li>maintain a low operating cost base; and,</li>
                    <li>uplift local communities, where possible.</li>
                </ul>
            </p>
            <p class="top-paragraph">
                Whether you're looking for a full range of home and patio furniture, bedding, 
                soft furnishings and accessories, home entertainment or appliances, make 
                House & Home your preferred shopping destination.
            </p>
            <br>                       
            <span style="color: #004395; font-size: 16px; font-weight: bold;">Rainbow Finance</span><br>
            <span class="top-paragraph">
                Rainbow Finance is also a Trading Division of Shoprite Checkers (Pty) Ltd, 
                one of the largest supermarket groups in Africa.
            </span><br><br>
            <p class="top-paragraph">
                With offices located across South Africa, Rainbow Finance administers the 
                Credit Agreement (CA) and other forms of credit, by granting the contracts 
                and collecting amounts due in terms of these debts.
            </p>
            <p class="top-paragraph">
                Furniture Finance for House & Home can be arranged, with or without 
                DEPOSIT*, at affordable repayment terms, and with up to 36 months to pay 
                on most products.
            </p>
            <br>
            <p class="top-paragraph">
                <span style="font-style: italic;">*Subject to credit worthiness in terms of the National Credit Act (NCA)</span>
            </p>
        </div>
    </div>
</div>

    </div>
</div>

{% endblock %}
