{% extends "furnitures/base.html" %}
{%load static%}



{% block content %}

<div class="container">
    <div class="row">
       <div class='col-xs-12'>
        <div class='row'>
            <section class="productmain">
                <h1 class='producth1'>Our products</h1>
                <div class="disp">
                    {% for post in posts %}
                        <a class="a" href="{{ post.get_absolute_url }}">
                            <div class="wrdandpht wow animate__animated animate__slideInLeft">
                                <img class="image" src="{{post.photo.url}}" alt="">
                                <div class="w381 displayflex">
                                    <p class="fon">{{post.title}}</p>
                                </div>
                            </div>
                        </a>
                    {% endfor %}
                </div>
            </section>
        </div>
       </div>

        
    </div>
</div>
{% endblock %}
